<h2><%= @shelter.name.upcase %></h2>

<ul>
  <li>Shelter ID: <%= @shelter.id %></li>
  <li>Name: <%= @shelter.name %></li>
  <li>Address: <%= @shelter.address %></li>
  <li>City/State/zip: <%= @shelter.city %> <%= @shelter.state %>, <%= @shelter.zip %></li>
  <br><button><a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></button>
</ul>

<br>

<footer><a href='/shelters'>Shelters Index</a></footer>
