<h2><%= @shelter.name.upcase %></h2>

<ul>
  <li>Name: <%= @shelter.name %></li>
  <li>Address: <%= @shelter.address %></li>
  <li>City/State/zip: <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></li><br>
  <%= button_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method: :get %><br>
  <%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete  %>
</ul><br>

<%= link_to "Shelter's Pets", "/shelters/#{@shelter.id}/pets" %>

<%= link_to "Shelters Index", "/shelters" %>
