<%= link_to "Home", '/' %><br><br>

<h2>Pets:</h2>

<% @pets.each do |pet| %>
  <div id="pet_<%= pet.id %>">
    <img src= <%= "#{pet.image}"%> alt= <%= "#pet.name" %> width="300px"><br>
    <%= "Name: " %> <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <%= "Approximate age: " + pet.approximate_age %><br>
    <%= "Sex: " + pet.sex %><br>
    <%= "Shelter: " %><%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter_id}" %><br>
    <%= link_to "edit pet", "/pets/#{pet.id}/edit" %><br>
    <%= link_to "delete pet", "/pets/#{pet.id}", method: :delete %>
  </div><br><br>
<% end %>
