<h1>Pets:</h1>

<%= link_to "Home", '/' %>

<% @pets.each do |pet| %>
  <div class= <% "pet_#{pet.id}" %>>
    <img src= <%= "#{pet.image}"%> alt= <%= "#pet.name" %>>
    <%= pet.name %>
    <%= pet.approximate_age %>
    <%= pet.sex %>
    <%= pet.shelter %>
  </div><br><br>
<% end %>
