<h2><%= @pet.name %></h2>
<%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %><br>

<img src= <%= "#{@pet.image}"%> alt= <%= "#@pet.name" %> width="300px"><br>
<%= "Description: " + @pet.description %><br>
<%= "Approximate age: " + @pet.approximate_age %><br>
<%= "Sex: " + @pet.sex %><br>
<%= "Shelter: " %> <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter_id}" %><br>
<%= "Adoption status: " + @pet.adoption_status%><br>

<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
