<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <ul class="navbar">
      <li id="home"><%= link_to "Home", "/" %></li>
      <li id="pet"><%= link_to "Pet Index", "/pets" %></li>
      <li id="shelter"><%= link_to "Shelter Index", "/shelters" %></li>
    </ul><br><br>

    <%= yield %>
  </body>
</html>
